.card-load {
    padding-bottom: 20px;
    background: url("../../../assets/index.png") no-repeat 0 0;
    overflow: hidden;
}
.card-load p {
    width: 205px;
    margin: 0 auto;
    padding: 16px 0;
    line-height: 22px;
    color:#666;
    font-size: 12px;
}
.card-load button {
    display: block;
    width: 100px;
    height: 31px;
    line-height: 31px;
    text-align: center;
    margin: 0 auto;
    color: #fff;
    text-shadow: 0 1px 0 #8a060b;
    background: url("../../../assets/index.png") no-repeat 0 -195px;
}