header {
    position: relative;
    height: 70px;
    line-height: 70px;
    background: #242424;
    border-bottom: 1px solid #000;
    z-index: 999;
}
.head-second-nav-box {
    position: absolute;
    top:70px;
    left: 0;
    width: 100%;
    background-color: #C20C0C;
}

.head-content {
    width: 1100px;
    height: 100%;
    margin: 0 auto;
}
.head-second-nav-box > div {
    width: 1100px;
    margin: 0 auto;
}
/*= logo 标志 */
#logo {
    width: 176px;
    height: 100%;
    color: transparent;
    background: url("../../assets/topbar.png") no-repeat 0px 0px;
}

/*= 登录按钮 */
.head-content .login {
    width: 28px;
    color: #787878;
    margin-left: 20px;
}

/*= 搜索按钮 */
.head-content button {
    width: 90px;
    height: 32px;
    margin: 19px 0 0 12px;
    padding: 0;
    text-align: center;
    line-height: 31px;
    color:#ccc;
    border: 1px solid #4F4F4F;
    background-color: transparent;
    border-radius: 20px;
    font-size: 12px;
    cursor: pointer;
}
.head-content button:hover {
    color: #fff;
    border-color: #ccc;
}

/*= 搜索框 */
.head-content .input {
    width: 158px;
    height: 32px;
    line-height: 32px;
    border-radius: 32px;
    margin-top: 19px;
    overflow: hidden;
}
.head-content input {
    height: 32px;
}
.head-content .input:hover {
    border-color: transparent;
}
.head-content .input:focus {
    border-color: transparent;
}
.head-content input {
    font-size: 12px;
}

/*= 头部一级导航 */
.head-nav-box {
    position: relative;
    overflow-x: hidden;
}
.head-nav ul {
    display: flex;
    line-height: 70px;
}
.head-nav li.li {
    padding: 0 19px;
    border-bottom: none;
}
.head-nav li a {
    color: #ccc;
}
.head-nav .hot {
    position: relative;
}
.head-nav .hot::after {
    position: absolute;
    content: "";
    right: -21px;
    top: 20px;
    width: 28px;
    height: 19px;
    background: url("../../assets/topbar.png") no-repeat -190px 0 ;
}
.head-nav .enter {
    background: #000;
}
.head-nav .enter a {
    color: #fff;
}
.head-nav .enter.hasChild {
    position: relative;
}
    /*= 倒三角  */
.head-nav .enter.hasChild::after {
    position: absolute;
    content: "";
    left: 50%;
    bottom: 0;
    width: 12px;
    height: 7px;
    border: 6px solid transparent;
    border-bottom-color: #C20C0C;
    transform: translateX(-50%);
    /* #C20C0C */
}
/*= 头部二级导航 */
.head-second-nav ul {
    display: flex;
    line-height: 34px;
    font-size: 12px;
    padding-left: 180px;
}
.head-second-nav li.li {
    border-bottom: none;
    padding: 0;
}
.head-second-nav span {
    display: inline-block;
    height: 20px;
    padding: 0 13px;
    margin: 7px 17px 0;
    border-radius: 20px;
    line-height: 20px;
    color: #fff;
}
.head-second-nav .active span,
.head-second-nav .enter span{
    background-color: #9B0909;
}
