/*   主色   */
/*   辅助色   */
/*  主色透明*/
/*   常用基础色   */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

*:not(input):not(textarea) {
    user-select: none;
}

i,
em {
    font-style: normal;
}

html,
body {
    width: 100%;
    height: 100%;
    font-size: 14px;
    font-family: "微软雅黑";
    overflow: hidden;
    word-wrap: break-word;
    word-break: break-word;
}

ul,
ol,
li {
    list-style: none;
}

a {
    text-decoration: none;
    user-select: none;
    color:currentColor;
}

a:hover {
    text-decoration: none;
}

img {
    vertical-align: middle;
    border: 0;
}

input::-ms-clear,
input::-ms-reveal {
    display: none;
}
.fl {
    float: left;
}
.fr {
    float: right;
}
.clearFloat::before,
.clearFloat::after {
    content: "";
    display: block;
    height: 0;
    visibility: hidden;
}

.clearFloat::after {
    clear: both;
}

.clearFloat {
    zoom: 1;
}

select {
    border-radius: 5px;
    border: 1px solid #d7d7d7;
    height: 30px;
    padding: 0 10px;
}

button {
    outline: none;
    border: none;
}
h1, h2, h3, h4, h5, h6 {
    margin: 0;
    color: rgba(0, 0, 0, 0.85);
    font-weight: normal;
}

.cover {
    object-fit: cover;
}

.vjs-loading-spinner span {
    color: transparent;
}

.vjs-seeking .vjs-loading-spinner:after,
.vjs-waiting .vjs-loading-spinner:after {
    border-top-color: transparent !important;
    animation-delay: 0 !important;
    animation: "" !important;
}

.vjs-loading-spinner:after {
    content: "";
    width: 0 !important;
    height: 0 !important;
    border: 0 !important;
    border-color: transparent !important;
}

.esay-scrollbar__bar.is-vertical {
    background-color: transparent !important;
}
.oneline {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    word-wrap: normal;
}

html body {
    overflow-y: scroll;
    background-color: #f2f2f2;
}
#content {
    position: relative;
    width: 982px;
    margin: 0 auto;
    background-color: #fff;
    /* background:url("https://s2.music.126.net/style/web2/img/frame/wrap1.png") repeat; */
}

/* .zm_text {
    position: absolute;
    margin: 0px;
    padding-top: 0px;
    padding-bottom: 0px;
    color: #797979;
    font-family: 微软雅黑;
    font-style: normal;
    font-weight: normal;
    text-decoration: none;
    font-size: 12px;
    word-break: break-word;
    box-sizing: border-box;
} */