.music-card {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding-top: 20px;
}
.music-card li {
    position: relative;
    width: 140px;
    height: 234px;
    overflow: hidden;
    padding-bottom: 30px;
}
.music-card .cover-img {
    display: block;
    width: 140px;
    height: 140px;
    background-size: cover;
}
.music-card .card-info {
    display: inline-block;
    max-width: 100%;
    margin: 8px 0 3px;
    font-size: 14px;
    color:#333;
    /* word-break: break-all; */
}
.music-card .music-btn {
    position: absolute;
    top: 113px;
    left: 0;
    width: 100%;
    height: 27px;
    color:#ccc;
    background: url("../../assets/coverall.png") no-repeat 0 -537px;
}
.music-card .music-headset ,
.music-card .music-play {
    background-image: url("../../assets/iconall.png");
    background-repeat: no-repeat;
}
.music-card .music-headset {
    float: left;
    width: 14px;
    height: 11px;
    background-position: 0 -24px;
    margin: 9px 5px 9px 10px;
}
.music-card .music-play {
    float: right;
    width: 16px;
    height: 17px;
    background-position: 0 0px;
    background-color: transparent;
    margin: 5px 10px 0 0;
    cursor: pointer;
}
.music-card .music-play:hover {
    background-position-y: -60px;
}
.music-card .music-user {
    float: left;
    height: 27px;
    line-height: 27px;
    font-size: 12px;
}