.music-table {
    display: flex;
    width: 100%;
    margin-top: 20px;
    background: url("../../assets/table.png") no-repeat;
    color: black;
}

.music-table dl {
    display: block;
    width: 230px;
    padding-left: 1px;
}
.music-table dl:last-child{
    padding-left: 2px;
}
.music-table dt {
    display: flex;
    height: 120px;
    padding: 20px 0 0 19px;
}
.music-table .table-img-link {
    width: 80px;
    height: 80px;
    background-size: cover;
}
.music-table .table-tit {
    width: calc(100% - 80px);
    padding: 6px 0 0 10px;
}
.music-table .table-tit-link {
    font-size: 14px;
    font-weight: 700;
    color: rgb(51,51,51);
}
.music-table button {
    width: 22px;
    height: 22px;
    margin: 10px 10px 0 0;
    background-image: url("../../assets/index.png");
    background-repeat: no-repeat;
    cursor: pointer;
}
.music-table .table-play {
    background-position: -267px -205px;
}
.music-table .table-save {
    background-position: -300px -205px;
}


.music-table dd {
    height: 32px;
    line-height: 32px;
    padding-left: 15px;
    margin-bottom: 0;
}
.music-table span {
    display: inline-block;
    width: 35px;
    text-align: center;
    color: #666;
    font-size: 16px;
}
.music-table dd:nth-child(-n+4) span {
    color: #c10d0c;
}
.music-table dd a {
    width: 170px;
    color: black;
    font-size: 12px;
}
.music-table dd:last-child {
    text-align: right;
    padding-right: 32px;
}
.music-table a:hover {
    text-decoration: underline;
}